.all-cards{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    
}
.card{
    position: relative;
    float: left;
    width: 250px;
    padding: 4%;
    left: 15%;
    
}

.all-cards a{
    position: relative;
    display: inline-block;
    background-color: brown;
    width: 200px;
    height: 170px;
    text-decoration: none;
}

.card-layout{
    position: relative;
    background: url(template.png);
    width: 200px;
    height: 170px;
    border-radius: 5px;
    border: 2px solid black;
    
}

.text p{
    position: relative;
    text-decoration: none;
    background-color: grey;
    background-size: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 71%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.clear{
    clear: both;
}

@media screen and (max-width=1400px){
    .card{
        position: relative;
        float: left;
        width: 250px;
        padding: 5%;
        left: 13%;
    }
}